Если есть токен, то здесь он отобразится: <%= @token%>

<%= form_tag("/auth", method: "post") do %>
    <%= hidden_field_tag "password", @rsa_encrypted_password %>
    <%= hidden_field_tag "username", @username %>
    <%= hidden_field_tag "rsatimestamp", @rsa_timestamp %>
    <%= hidden_field_tag "donotcache", @donotcache %>

    <h1>Подтвердить капчу</h1>
    <img src='<%= @CAPTCHA_IMG %>'>
    <%= hidden_field_tag "captcha_gid", @CAPTCHA_GID %>
    <%= text_field_tag "captcha_text", "" %>
    <br><br><br>
    <h1>Подтвердить код с почты</h1>
    <%= hidden_field_tag "emailsteamid", @EMAIL_ID %>
    <%= text_field_tag "emailauth", "" %>
    <%= submit_tag("send it") %>

    <table align="center" rules="all">
      <% 0.upto(@icon123[0].size-1) do |x| %>
          <% if x % 5 == 0 or x == 0 %>
              <tr valign="bottom">
          <% end %>
          <td align="center" >
            <p> <%= @icon123[0][x] %></p>
            <% if @icon123[1][x] == 'http://steamcommunity-a.akamaihd.net/economy/image/' %>
                <p> <%= image_tag("empty.gif", size:"145x97") %></p>
            <% else %>
                <p> <img width="145" height="97"  src= <%= @icon123[1][x] %>></p>
            <% end %>
          </td>
          <% if x % 5 == 4 %>
              </tr>
          <% end %>
      <% end %>
    </table>
<% end %>