<div class="navigation">
  <div class="back left"><%= link_to raw("&larr; на главную"), controller: "application", action: "index"  %></div>
</div>

<div id="item-title" class="<%= @this_lot['data']['item']['quality_color'] %>_color"><%= @this_lot['data']['item']['display_name_rus'] %></div>
<div id="item-quality"><%= @this_lot['data']['item']['quality_rus'] %></div>

<div id="preview">
  <img width="360" height="360" src="<%= image_url('empty_big.jpg') %>">
  <div class="stattrak hide"></div>
</div>

<div id="item-cost"><%= @this_lot['data']['slot_price'] %> габенов за слот</div>

<table id="places" cellpadding="3" cellspacing="8">
  <% (0..@this_lot['data']['slots'] - 1).each do |i| %>

      <% if i % 12 == 0 or i == 0 %>
          <tr>
      <% end %>

      <td id="buy" data-id="<%= i %>"><%= i + 1 %></td>

      <% if i % 12 == 11 %>
          </tr>
      <% end %>
  <% end %>
</table>

<% content_for :js do %>
    <script type="text/javascript">
        var gid = <%= @this_gid %>;
        var sid = <%= session[:steam_id] %>;

        $(document).ready(function() {
            $("td#buy").click(function(){
                var pid = $(this).data("id");

                $(this).css('background', "url(/assets/lot/loader.gif) #16191b no-repeat center center");

                $.getJSON('/gateway/buyslot/' + gid + "/" + pid, function(response) {
                    if (response['success'] == true) {
                        $(this).html("");
                        $(this).removeAttr('id');
                        $(this).css('background', "url(/assets/avatars/" + sid + ".jpg) #16191b no-repeat center center");
                        $(this).css('background-size', 'cover');
                    } else {
                        alert(response['message'])
                    }
                });

                updateSlots();
            });

            updateSlots();
        });

        function updateSlots() {
            $.getJSON('/gateway/getslots/' + gid, function(response) {
                var json = JSON.parse(response);
                $.each(json, function(i, j) {
                    var slot = $('#places').find('td[data-id="' + i + '"]');
                    if (j != "0") {
                        $(slot).html("");
                        $(slot).removeAttr('id');
                        $(slot).css('background', "url(/assets/avatars/" + j + ".jpg) #16191b no-repeat center center");
                        $(slot).css('background-size', 'cover');
                    };
                });
                setTimeout("updateSlots()", 10000);
            });
        }
    </script>
<% end %>