<div class="pool">
  <div class="row">
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
  </div>
  <div class="row">
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
    <div class="item">
      <div class="dota-marker">DOTA 2</div>
      <a href="#"><img class="ancient" src="<%= image_url('empty.jpg') %>"></a>
      <div class="slot-count">
        <div class="filled" style="width: 0%;"></div>
        <div class="owned" style="width: 0%;"></div>
        <div class="free" style="width: 0%;"></div>
      </div>
      <div class="title">{title}</div>
      <div class="quality">{title}</div>
    </div>
  </div>
</div>