<% if session[:is_logged] != nil %>
    <div class="navigation">
      <div class="back left"><%= link_to raw("&larr; на главную"), controller: "application", action: "index" %></div>
      <div class="prof right"><%= link_to raw("в профиль &rarr;"), controller: "profile", action: "index" %></div>
    </div>

    <div class="pay-title">Пополнить баланс</div>

    <div class="category centered">
      <div class="backpack">Получить инвентарь из</div>
      <div class="dota"><a href="#" onclick="loadInventory(570);">Dota 2</a></div>
      <div class="csgo"><a href="#" onclick="loadInventory(730);">CS:GO</a></div>
    </div>

    <div id="status" style="display: none">
        <div class="loading"></div>
        <p id="message">Подождите, Ваш инвентарь загружается...</p>
    </div>

    <% if session[:notification] != nil %>
        <div style="text-align: center; background: #963222; padding: 15px; color: #c9c9c9;">
          Пожалуйста, примите от нас трейдоффер. Специальный номер <b>№<%= session[:unique_id] %></b>.
        </div>
    <% else %>
        <div id="bp" style="display: none">
          <div id="signal" class="total-cost">Выберите вещи, которые вы хотите обменять на габены:</div>

          <ul class="backpack-items">
          </ul>

          <div id="ac" style="display: none">
              <div class="total-cost">За предложенные вещи Вы получите <span id="total">0</span> габенов</div>

            <div class="centered">
              <a class="sendtradeoffer" onclick="addFunds();">Создать обмен</a>
            </div>​
          </div>
        </div>
    <% end %>

    <div class="couriers"></div>

    <% if session[:notification] == nil %>
        <script>
            var active_appId = 0;
            var totalCost = 0;
            var Items = [];
            var token = "<%= form_authenticity_token %>";

            $.ajaxSetup({
                beforeSend: function () {
                    $("#bp").hide();
                    $(".couriers").show();
                    $("#status").show();
                    $("#ac").hide();
                },
                complete: function () {
                    $("#bp").show();
                    $(".couriers").hide();
                    $("#status").hide();
                    $("#ac").hide();
                }
            });

            $(document).ready(function() {
                $("ul.backpack-items").on("click", "li", function() {
                    if ($(this).has(".marker-check").length) {
                        $(this).find("div.marker-check").remove();
                        Items.splice(Items.indexOf($(this).data("id")), 1);
                        totalCost -= $(this).data("cost");
                    } else {
                        $(this).append('<div class="marker-check"></div>');
                        Items.push($(this).data("id"));
                        totalCost += $(this).data("cost");
                    }

                    if (Items.length > 0) {
                        $("#ac").show();
                    } else {
                        $("#ac").hide();
                    }

                    $("#total").text(totalCost);
                });
            });

            function loadInventory(appId) {
                if (appId == 570) {
                    $('.csgo').removeClass('active');
                    $('.dota').addClass('active');

                    active_appId = 570;
                    totalCost = 0;
                    Items = [];

                    $("#message").text("Подождите, Ваш инвентарь загружается...");
                } else {
                    $('.dota').removeClass('active');
                    $('.csgo').addClass('active');

                    active_appId = 730;
                    totalCost = 0;
                    Items = [];

                    $("#message").text("Подождите, Ваш инвентарь загружается...");
                }

                $.getJSON('/gateway/getinventory/' + appId, function(response) {
                    var json = JSON.parse(response);
                    $(".backpack-items").empty();

                    if (json.length == 0) {
                        $("#signal").text("К сожалению, у Вас нет подходящих вещей.");
                    } else {
                        $("#signal").text("Выберите вещи, которые вы хотите обменять на габены:");

                        $.each(json, function(key, value){
                            $(".backpack-items").append('<li data-id="' + value["id"] +  '" data-cost="' + value["price"] + '"><img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/' + value["image_url"] + '"><div class="cost">' + value["price"] + ' габенов</div></li>');
                        });
                    }

                    $("#bp").show();
                });
            }

            function addFunds() {
                $("#message").text("Подождите, пока мы создаем предложение обмена");

                if (Items.length > 0) {
                    $.ajax({
                        url: '/gateway/addfunds',
                        type: "POST",
                        data: {'authenticity_token': token, 'appId': active_appId, 'myitems': Items},
                        success: function(response) {
                            $.each(Items, function(i, j) {
                                $("ul.backpack-items").find('li[data-id="'+j+'"]').remove();
                            });

                            Items = [];
                            totalCost = 0;

                            $("#bp").hide();
                            $(".couriers").show();

                            location.reload();
                        },
                        dataType: 'json'
                    });
                }
            }
        </script>
    <% end %>

    <% content_for :profile_nav do %>
        <div class="profile-nav">
          <div class="sub-pay"><%= link_to "Пополнить баланс", controller: "profile", action: "addFunds" %></div>
          <div class="sub"><%= link_to "История операций", controller: "profile", action: "lastOperations" %></div>
          <div class="sub"><%= link_to "Забрать выигрыш", controller: "profile", action: "cashOut" %></div>
          <div class="sub"><%= link_to "Обновить данные профиля", controller: "profile", action: "update" %></div>
        </div>
    <% end %>
<% else %>
    <font size="72" color="red">Нужно авторизоаться. Не знаете как?</font>
<% end %>