<div class="navigation">
  <div class="back left"><%= link_to raw("&larr; на главную"), controller: "application", action: "index" %></div>
  <div class="prof right"><a href="#">в профиль &rarr;</a></div>
</div>

<div class="pay-title">Пополнить баланс</div>

<!--
<div class="step">
  <b>Шаг 1.</b> Укажите ссылку для обмена (<a href="">где её найти?</a>):
</div>

<div class="tradeoffer">
  <input id="tradeOfferLink" type="text" value="https://steamcommunity.com/tradeoffer/new/?partner=86493268&token=RD-gii2a">
</div>
-->

<div class="category centered">
  <div class="backpack">Получить инвентарь из</div>
  <div class="dota"><a href="#" onclick="loadInventory(570);">Dota 2</a></div>
  <div class="csgo"><a href="#" onclick="loadInventory(730);">CS:GO</a></div>
</div>

<div id="bp" style="display: none">
  <div id="signal" class="total-cost">Выберите вещи, которые вы хотите обменять на габены:</div>

  <ul class="backpack-items">
  </ul>

  <div id="ac" style="display: none">
      <div class="total-cost">За предложенные вещи Вы получите <b>2500</b> габенов</div>

    <div class="centered">
      <a class="sendtradeoffer">Создать обмен</a>
    </div>​
  </div>
</div>

<script>
    $(document).ready(function() {
        $("ul.backpack-items").on("click", "li", function() {
            if ($(this).has(".marker-check").length) {
                $(this).find("div.marker-check").remove();
            } else {
                $(this).append('<div class="marker-check"></div>')
            }
        });
    });

    function loadInventory(appId) {
        //var tradeOffer_link = $('#tradeOfferLink').val();
        //var steam32 = tradeOffer_link.match(/http[s]*:\/\/steamcommunity.com\/tradeoffer\/new\/\?partner=(\d{8})/)[1];

        $.getJSON('/gateway/getinventory/' + appId, function(response) {
            var json = JSON.parse(response);
            $(".backpack-items").empty();
            $("#bp").show();

            if (json.length == 0) {
                $("#signal").text("К сожалению, у Вас нет подходящих вещей.");
            } else {
                $.each(json, function(key, value){
                    $(".backpack-items").append('<li><img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/' + value["image_url"] + '"><div class="cost">XXX габенов</div></li>');
                });
            }
        });
    }
</script>

<% content_for :profile_nav do %>
    <div class="profile-nav">
      <div class="sub-pay"><%= link_to "Пополнить баланс", controller: "profile", action: "addFunds" %></div>
      <div class="sub"><%= link_to "История операций", controller: "profile", action: "lastOperations" %></div>
      <div class="sub"><%= link_to "Забрать выигрыш", controller: "profile", action: "cashOut" %></div>
      <div class="sub"><%= link_to "Обновить данные профиля", controller: "profile", action: "update" %></div>
    </div>
<% end %>