<% if session[:is_logged] != nil %>
    <div class="alfa-trader"></div>

    <div class="available-inventory">
      <div class="pay-title">Доступный инвентарь</div>

      <% if not @available_items == [] %>
          <div class="step cashout">Выберите вещи, которые вы хотите забрать:</div>

          <ul class="available-items">
            <% if not @available_items.nil? %>
                <% @available_items.each do |item| %>
                    <li><img height="105" src="/assets/items/<%= item['image_url'] %>"></li>
                <% end %>
            <% end %>
          </ul>

          <div class="accept-terms">Забирая вещи, Вы соглашаетесь с условиями вывода.</div>

          <div class="centered" style="padding-bottom: 30px;">
            <a class="YellowButton" style="border-radius: 2px 0 0 2px;">Перевести в габены</a><a class="GreenButton" style="border-radius: 0 2px 2px 0;">Забрать в инвентарь</a>
          </div>
      <% else %>
          <div class="step cashout" style="padding-bottom: 30px;">Нет доступных вещей для вывода, попробуйте поучаствовать.</div>
      <% end %>
    </div>

    <% content_for :profile_nav do %>
        <div class="profile-nav">
          <div class="sub-pay"><%= link_to "Пополнить баланс", controller: "profile", action: "addFunds" %></div>
          <div class="sub"><%= link_to "История операций", controller: "profile", action: "lastOperations" %></div>
          <div class="sub"><%= link_to "Забрать выигрыш", controller: "profile", action: "cashOut" %></div>
          <div class="sub"><%= link_to "Обновить данные профиля", controller: "profile", action: "update" %></div>
        </div>
    <% end %>
<% else %>
    <font size="72" color="red">Нужно авторизоаться. Не знаете как?</font>
<% end %>