<% if session[:is_logged] != nil %>
    <div class="navigation">
      <div class="back left"><%= link_to raw("&larr; на главную"), controller: "application", action: "index" %></div>
    </div>

    <font size="72" color="white">СТАТИСТИКА, СКОЛЬКО ВЫИГРАЛ, ГРАФИКИ</font>

    <div class="tradeoffer" style="background: #1e1e1e; margin: 20px 0; height: auto">
      <div id="signal" class="total-cost" style="padding: 20px;">Моя ссылка обмена (где её найти?)</div>

      <% if session[:last_to_token].nil? %>
          <input id="tourl" type="text" value="Ссылка на обмен" style="float: none; margin-bottom: 20px;">
      <% else %>
          <input id="tourl" type="text" value="https://steamcommunity.com/tradeoffer/new/?partner=<%= (session[:steam_id].to_i - 76561197960265728) %>&token=<%= session[:last_to_token] %>" style="float: none; margin-bottom: 20px;">
      <% end %>

      <div class="centered">
        <a class="GreenButton" onclick="updateUrl();">Обновить</a>
      </div>​
    </div>

    <% content_for :ending do %>
        <div id="sideblock">
          <div id="sidename">Скоро завершатся</div>
          <div id="sidebody">
            <ul id="ending">
              <p class="nothing">Пока ничего нет.</p>
            </ul>
          </div>
        </div>
    <% end %>

    <% content_for :js do %>
        <script type="text/javascript">
            var token = "<%= form_authenticity_token %>";

            $(document).ready(function() {
                updateEnding();
            });

            function updateUrl() {
                var user_trade_url = $("#tourl").val();
                if ((user_trade_url.length > 65) && (user_trade_url.length < 100)) {
                    $.ajax({
                        url: '/profile',
                        type: "POST",
                        data: {'authenticity_token': token, 'tourl': $("#tourl").val()},
                        success: function(response) {
                            if (response['success']) {
                                alert('success!');
                            } else {
                                alert(response['message']);
                            }
                        },
                        dataType: 'json'
                    });
                } else {
                    alert('not correct url');
                }
            }

            function updateEnding() {
                $.getJSON('/gateway/getending', function(response) {
                    var json = JSON.parse(response);
                    $("#ending").empty();
                    $.each(json, function(key, value){
                        $("#ending").append('<a href="/lot/'+value['global_id']+'"><li class="chance"><img class="left" src="<%= image_url('empty_small.jpg') %>" width="80"><div id="item-chance" class="right"><div id="name">'+value['display_name_rus']+'</div><div id="desc">'+value['quality_rus']+'</div></div></li></a>');
                    });
                    setTimeout("updateEnding()", 30000);
                });
            }
        </script>
    <% end %>
<% else %>
    <font size="72" color="red">Нужно авторизоаться. Не знаете как?</font>
<% end %>