<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['lottery_title'] %></title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "preset", media: "all" %>
  <%= stylesheet_link_tag "main", media: "all" %>
  <%= stylesheet_link_tag "lot", media: "all" %>
  <%= stylesheet_link_tag "profile", media: "all" %>

  <%= stylesheet_link_tag "amaran.min", media: "all" %>

  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
  <%= javascript_include_tag "jquery.amaran.min.js" %>
</head>
<body>
<div id="header">
  <div id="wrapper">
    <a href="<%= url_for :action => 'index', :controller => 'application' %>"><div id="logo-pic"></div></a>
    <div id="logo-title" class="left"><%= APP_CONFIG['lottery_title'] %></div>
    <% if session[:is_logged] != nil %>
        <a href="<%= url_for :action => 'logout', :controller => 'auth' %>"><div id="logout_button" class="right"></div></a>
    <% else %>
        <a href="<%= url_for :action => 'start', :controller => 'openid' %>"><div id="auth_button" class="right"></div></a>
    <% end %>
  </div>
</div>

<div id="wrapper" class="content">
  <div id="page" class="left">
    <%= yield %>
  </div>
  <div id="sidebar" class="right">
    <% if session[:is_logged] != nil %>
        <%= link_to profile_path do %>
            <div id="user">
              <img id="avatar" class="left" src="<%= image_path("avatars/"+ session[:steam_id] + ".jpg") %>">
              <div id="balance" class="right">
                <div class="stats left">
                  <div class="username"><%= session[:steam_login] %></div>
                  <div class="value"><%= session[:coin_count] %></div>
                  <div class="currency">габенов</div>
                </div>
                <%= link_to raw('<div class="buy right">+</div>'), controller: "profile", action: "addFunds" %>
              </div>
            </div>
        <% end %>
    <% end %>

    <%= yield :profile_nav %>

    <%= yield :ending %>
  </div>
</div>

<div class="clear"></div>

<div id="advert-900">
  <%= image_tag("block/block_900.jpg", size: "900x90") %>
</div>

<div id="footer">
  <div id="wrapper">
    <div class="project left">This is Nice shit for u! © 2015 - All Rights Reserved<br>Powered by <a href="#">Steam</a>.</div>
    <div class="authors right">Coded by <a href="#">Андрей</a> и <a href="#">Влад</a><br>Running in Ruby on Rails</div>
  </div>
</div>

<% if session[:notification] != nil %>
    <script type="text/javascript">
        $(function() {
            $.amaran({
                content:{
                    bgcolor: '#963222',
                    color: '#fff',
                    message: '<center>Примите трейдоффер <b>№<%= session[:unique_id] %></b><br><a target="_blank" href="https://steamcommunity.com/tradeoffer/<%= session[:tradeofferid] %>">Перейти на steamcommunity.com</a></center>'
                },
                theme:'colorful',
                sticky: true,
                closeOnClick: false
            });
        });
    </script>
<% end %>
<%= yield :js %>
</body>
</html>
