<!DOCTYPE html>
<html>
<head>
  <title><%= APP_CONFIG['lottery_title'] %></title>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "preset", media: "all" %>
  <%= stylesheet_link_tag "main", media: "all" %>
  <%= stylesheet_link_tag "lot", media: "all" %>

  <!-- <%= javascript_include_tag "jquery-2.1.3.min" %> -->
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" %>
</head>
<body>
<div id="header">
  <div id="wrapper">
    <div id="logo" class="left"><%= APP_CONFIG['lottery_title'] %></div>
    <% if session[:is_logged] != nil %>
        <a href="<%= url_for :action => 'logout', :controller => 'auth' %>"><div id="logout_button" class="right"></div></a>
    <% else %>
        <a href="<%= url_for :action => 'start', :controller => 'openid' %>"><div id="auth_button" class="right"></div></a>
    <% end %>
  </div>
</div>

<div id="wrapper" class="content">
  <div id="page" class="left">
    <%= yield %>
  </div>
  <div id="sidebar" class="right">
    <% if session[:is_logged] != nil %>
        <div id="user">
          <img id="avatar" class="left" src="<%= image_path("avatars/"+ session[:steam_id] + ".jpg") %>">
          <div id="balance" class="right">
            <div class="stats left">
              <div class="username"><%= session[:steam_login] %></div>
              <div class="value"><%= session[:coin_count] %></div>
              <div class="currency">габенов</div>
            </div>
            <div class="buy right">+</div>
          </div>
        </div>
    <% end %>

    <div id="sideblock">
      <div id="sidename">Скоро завершатся</div>
      <div id="sidebody">
        <ul id="ending">
          <a href="#"><li class="chance">
            <img class="left" src="http://cdn.dota2.com/apps/570/icons/econ/loading_screens/keen_machine_loading_screen.ee5212422f2e4349365c51bc7dfa09f4cbb24a71.png" width="80">
            <div id="item-chance" class="right">
              <div id="name">Keen Machine</div>
              <div id="desc">Набор для Sniper</div>
            </div>
          </li></a>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="clear"></div>

<div id="advert-900">
  <%= image_tag("block/block_900.jpg", size: "900x90") %>
</div>

<div id="footer">
  <div id="wrapper">
    <div class="project left">This is Nice shit for u! © 2015 - All Rights Reserved<br>Powered by <a href="#">Steam</a>.</div>
    <div class="authors right">Coded by <a href="#">Андрей</a>, <a href="#">Влад</a> и <a href="#">Илюшка-хуюшка</a><br>Running in Ruby</div>
  </div>
</div>

<%= yield :js %>
</body>
</html>
